p {
    font-size: 18px;
}

.about {
    flex: 1;
}
.about-box {
    color: var(--color-text);
    min-width: 300px;
    max-height: 70vh;
    overflow: auto;
    border-style: solid;
    border-color: var(--color-shadow) var(--color-highlight) var(--color-highlight) var(--color-shadow);
    margin: 5px;
}
.logo {
    display: flex;
    gap: 15px;
}
.logo-img {
    display: block;
    max-height: 50px;
}

@media screen and (max-width: 865px) {
  .about {
      margin-bottom: 70px;
  }
  .about-box {
      max-height: 100%;
  }
}