.credits {
    width:500px;
}
.flex-content-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-text);
    background-color: var(--color-textbox);
    border-color: var(--color-shadow) var(--color-highlight) var(--color-highlight) var(--color-shadow);
    border-style: inset;
    height: calc(100% - 5px);
    margin: 2px;
}
.flex-content-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.textbox {
    font-family: 'Consolas', sans-serif;
    font-weight: bold;
    flex-grow: 1;
}
.scroll-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-scrollbar);
}
.scroll-row {
    display: flex;
    background-color: var(--color-scrollbar);
}
.scroll-corner {
    width: 21px;
    background-color: var(--color-scrollbar);
    color: var(--color-scrollbar-thumb);
    text-align: right;
}
.scroll-button {
    font-size:10px;
    color: var(--color-scrollbar-button-inactive);
    padding: 0px;
    margin: 1px;
    width: 17px;
}

@media screen and (max-width: 865px) {
  .credits {
    width: 84%;
  }
}