.file {
    flex: 1;
}
.filebox {
    flex-grow: 1;
    background-color: var(--color-filebox);
    border-color: var(--color-shadow) var(--color-highlight) var(--color-highlight) var(--color-shadow);
    border-style: inset;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
    overflow: auto;
    height: 70vh;
}
.window-box {
    position: absolute;
    margin-right: 20px;
    z-index: 50;
}
.blogbox {
    color: var(--color-text-blogbox);
    background-color: var(--color-blogbox);
    font-family: 'Calibri', sans-serif;
    border-color: var(--color-shadow) var(--color-highlight) var(--color-highlight) var(--color-shadow);
    border-style: inset;
    padding: 0px;
    margin: 5px;
    overflow: auto;
    max-height: 70vh;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Calibri', sans-serif;
    color: var(--color-text-icon);
}
.icon {
    text-align: center;
}
.icon-select {
    outline: dotted black;
}
.icon-img {
    width: 80px;
    image-rendering: pixelated;
}
.icon-img-hidden {
    position: fixed;
    width: 80px;
    margin-left: -80px;
    image-rendering: pixelated;
    opacity: 0;
}
.icon:active > .icon-img-hidden {
    opacity: 1;
}
.icon:active > .icon-txt {
    background-color: var(--color-bar);
    color: var(--color-text-bar);
    outline: dotted var(--color-outline);
}

@media screen and (max-width: 865px) {
  .file {
      margin-bottom: 70px;
  }
  .filebox {
      max-height: 100%;
  }
}