.file {
    flex: 1;
}
.filebox {
    flex-grow: 1;
    background-color: white;
    border-color: black white white black;
    border-style: inset;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
    overflow: auto;
    height: 70vh;
}
.window-box {
    position: absolute;
    margin-right: 20px;
    z-index: 50;
}
.blogbox {
    background-color: #ffffd0;
    font-family: 'Calibri', sans-serif;
    border-color: black white white black;
    border-style: inset;
    padding: 0px;
    margin: 5px;
    overflow: auto;
    max-height: 70vh;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Calibri', sans-serif;
    color: black;
}
.icon {
    text-align: center;
}
.icon-select {
    outline: dotted black;
}
.icon-img {
    width: 80px;
    image-rendering: pixelated;
}
.icon-img-hidden {
    position: fixed;
    width: 80px;
    margin-left: -80px;
    image-rendering: pixelated;
    opacity: 0;
}
.icon:active > .icon-img-hidden {
    opacity: 1;
}
.icon:active > .icon-txt {
    background-color: #0000a8;
    color: white;
    outline: dotted black;
}

@media screen and (max-width: 865px) {
  .file {
      margin-bottom: 70px;
  }
  .filebox {
      max-height: 100%;
  }
}