body {
    background-color:#008080ff;
    margin:0;
}
ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}
ul li {
    padding: 5px 0px;
}
ul li:before {
    content: "▣";
    position: absolute;
    left: 0;
}

.page {
    display: flex;
    flex-wrap: wrap;
}
.box {
    font-family: 'Times New Roman', serif;
    background-color: #c0c0c0;
    border-style: outset;
    border-color: white black black white;
    padding-right: 1px;
    margin: 10px;
}
.box-content {
    padding: 15px;
}
.bar {
    display: flex;
    font-family: 'Calibri', sans-serif;
    color: white;
    background-color: #0000a8;
    padding: 1px;
    overflow: hidden;
}
.bar-bg {
    color: #c0c0c0;
    background-color: #87888f;
}
.mini-icon {
    position: absolute;
    image-rendering: pixelated;
    width: 20px;
    padding: 1px;
    margin-left: 3px;
}
.mini-title {
    margin-left: 25px;
}

a.link-button, a.link-button:hover, a.link-button:focus, a.link-button:active {
    text-decoration: none;
    color: inherit;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.button {
    font-family: 'Calibri', sans-serif;
    color: black;
    background-color: #c0c0c0ff;
    border-style: outset;
    border-color: white black black white;
    padding: 1px;
    text-align: center;
    position: relative;
}
.x-button {
    font-size: 10px;
    width: 17px;
    padding: 0px;
    margin: 1px;
}
.button:active {
    border-style: inset;
    border-color: black white white black;
}
.select:active {
    border-style: solid;
    border-color: black;
}
.selected {
    border-color: black;
}
.select-inner {
    border-style: none;
    border-radius: 2.5px;
    position: absolute;
    top: 2.5px;
    bottom: 2.5px;
    left: 2.5px;
    right: 2.5px;
}
.select:active > .select-inner {
    border-style: dotted;
}
.selected-inner {
    border-style: dotted;
    border-radius: 2.5px;
    position: absolute;
    top: 2.5px;
    bottom: 2.5px;
    left: 2.5px;
    right: 2.5px;
}
.picture {
    background-color: #ffffbc;
    border-style: inset;
    border-color: #eeeeee;
}
.box-header {
    display: flex;
    font-family: 'Calibri', sans-serif;
    background-color: #c0c0c0;
}
.box-ear {
    border-style: outset;
    border-color: white black black white;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.box-ear-select:active {
    border-style: solid;
    border-color: black white white black;
}
.box-ear-select:active > .select-inner {
    border-style: dotted;
}
.box-ear-bg {
    color: #95979d;
}
.box-footer {
    display: flex;
    font-family: 'Calibri', sans-serif;
    background-color: #c0c0c0;
    padding: 1px;
    margin: 2px;
}
.box-toe {
    display: flex;
    flex-grow: 1;
    border-style: inset;
    border-color: white;
    overflow: hidden;
}
.footer {
    position: fixed;
    font-family: 'Calibri', sans-serif;
    background-color: #c0c0c0;
    border-style: outset outset none none;
    border-color: white black black white;
    bottom: 0px;
    width: 100%;
    display: flex;
    z-index: 100;
}
.footer-button {
    font-family: 'Calibri', sans-serif;
    background-color: #dee2e3;
    border-style: inset;
    border-color: black white white black;
    padding: 1px;
    margin: 2px;
}
.footer-bg {
    background-color: #c0c0c0;
    border-style: outset;
    border-color: white black black white;
}
.footer-bg:active {
    background-color: #dee2e3;
    border-style: inset;
    border-color: black white white black;
}
.footer-time {
    font-family: 'Calibri', sans-serif;
    background-color: #c0c0c0;
    border-style: inset;
    border-color: #eeeeee;
    padding: 1px;
    margin: 2px;
    text-align: center;
}

.scrollbox::-webkit-scrollbar {
    background-color: #e0e3e4;
    width: 22px;
}
.scrollbox::-webkit-scrollbar-thumb {
    background-color: #c0c0c0ff;
    border-style: outset;
    border-color: white black black white;
}
.scrollbox::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../images/uparrow.png');
    background-size: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #c0c0c0ff;
    border-style: outset;
    border-color: white black black white;
}
.scrollbox::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    border-style: solid;
    border-color: #9b9ea3;
}
.scrollbox::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('../images/downarrow.png');
    background-size: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #c0c0c0ff;
    border-style: outset;
    border-color: white black black white;
}
.scrollbox::-webkit-scrollbar-button:single-button:vertical:increment:active {
    border-style: solid;
    border-color: #9b9ea3;
}
.scrollbox::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url('../images/leftarrow.png');
    background-size: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #c0c0c0ff;
    border-style: outset;
    border-color: white black black white;
}
.scrollbox::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    border-style: solid;
    border-color: #9b9ea3;
}
.scrollbox::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url('../images/rightarrow.png');
    background-size: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #c0c0c0ff;
    border-style: outset;
    border-color: white black black white;
}
.scrollbox::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    border-style: solid;
    border-color: #9b9ea3;
}