.welcome {
    width: 500px;
}
.welcome-text {
    color: var(--color-text);   
}
.welcome-dev {
    color: var(--color-text-accent);
}
.flex-content {
    display: flex;
    justify-content: space-between;
}
.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#headshot {
    width: calc(100% - 115px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    padding-top: 63.05%;
}
#headshot:hover {
    transition-delay: 3s;
}
#colors-toggle-icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 865px) {
  .welcome {
    width: 84vw;
  }
}